$highlight: #b5aa50;
$gray: #717070;
$boldopensans: 'Open Sans Bold', Helvetica, sans-serif;
$gochi: 'Gochi Hand', Arial, Helvetica, sans-serif;
$background: #f4f4f4;

.gochi {
  font-family: $gochi;
}

.blogImg {
  width: 100%; 
  overflow: hidden;

  img{
    width:100%;
  }

  @media screen and (max-width: 1050px) {

  }
}

.embedVideoIframe {
  left: 0;
}

hr {
  border: none;
  border-top: 4px dashed $highlight;
  width: 100%;
}

.post-title {
  margin-bottom: 0;
  font-weight: 900;
  font-family: $gochi;
}

.subtitle {
  font-style: italic;
  margin: 0;
  color: $gray;
}

.no-break {
  white-space: nowrap;
}

.post-body {
  h1, h2, h3 {
    font-family: $gochi;
    font-weight: 900;

  }

  p {
    strong {
      font-family: $boldopensans;
    }
  }

  li {
    strong {
      font-family: $boldopensans;
    }
  }

  a:not(.post-link) {
    color: $highlight;
    text-decoration: none;
    display: inline !important;

    &:hover {
      color: #000;
    }
  }

  .gochi {
    font-size: 24px;
  }

  img, iframe {
    max-width: 100% !important;
  }

  iframe {

    @media screen and (max-width: 600px) {
      max-height: 200px;
    }
    @media screen and (max-width: 400px) {
      max-height: 150px;
    }
  }
}
