$def_height: 240px;
$large_screen: 1024px;
$small_screen: 540px;

.bio {
  height: available;
  box-shadow: 5px 5px 25px grey;
  padding: 0;
  overflow: hidden;

  .bio-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: $large_screen) {
      flex-direction: column;
    }

    .bio-images {
        height: 100%;
        display: flex;
        flex: .3;
        flex-direction: column;
        padding: 20px 0px;

        img {
          height: 200px;
          width: 180px;
        }

        @media screen and (max-width: $small_screen) {
          flex-direction: column;
          margin-right: auto;
          margin-left: auto;
          img {
            flex: 1;
          }
        }

        @media screen and (max-width: $large_screen) {
          flex: 1;
          margin-left: auto;
          margin-right: auto;
          flex-direction: row;
          img {
            margin-bottom: 0;
          }
        }
    }

    .bio-top-layer {
      height: available;
      width: 0;
      position: relative;

      .bio-overlay {
        background: linear-gradient(.75turn, rgba(70, 50, 153, .2), rgba(70, 50, 153, 0));
        position: absolute;
        width: 280px;
        z-index: 3;
        height: 100%;

      }

      @media screen and (max-width: $large_screen) {
        height: 0;
        width: 100% + 1;
        .bio-overlay {
          width: 100%;
          height: 240px;
          top: 0;
        }
      }
    }

    .bio-text {
      display: flex;
      flex: .6;
      min-height: 100%;
      height: available;
      flex-direction: column;
      margin-left: -40px;
      margin-right: 20px;

      @media screen and (max-width: $large_screen) {
        margin: 30px;
      }

       .bio-header {
         h3 {
           margin-top: 10px;
           margin-bottom: 10px;
         }
         table {
           tbody {
             tr {
               border-bottom-width: 0;
               width: 50%;
               display: inline-block;

               th {
                 width: 10%;
                 border-bottom-width: 0;
                 padding-top: 0px;
                 padding-bottom: 0px;
                 padding-right: 10px;
               }
               td {
                 border-bottom-width: 0;
                 padding-top: 0px;
                 padding-bottom: 0px;
                 b {
                  background-color: rgba(0, 255, 255, .2);
                  }
                 ul {
                   display: flex;
                   flex-direction: row;
                   li {
                      flex: 1;
                      margin-top: auto;
                      margin-bottom: auto;
                   }
                   @media screen and (max-width: $small_screen) {
                     flex-direction: column;
                   }
                 }
               }
             }
             .abilities {
               background-color: rgba(0, 255, 255, .2);
               padding-right: 30;
               width: 100%;
             }
             .first {
              display: inline-block;
            }
           }
         }
      }

      .bio-description {
        height: available;
        margin-bottom: 10px;
      }
    }
  }
}
