
// Laptop width
$laptop: 1290px;

#menuIcon {
  float: right;
  margin: auto 0;
  padding: 10px;
  display: inline;
  height: 60px;
  width: 60px;

  @media screen and (min-width: $laptop) {
    display: none;
  }
}

#navbar {
  float: left;
  height: 40px;
  display: none;
  ul {
    list-style: none;
    margin-top: 16px;
    li {
      color: #fff;
      display: inline;
      margin: 0 20px;
      text-transform: uppercase;
      &:hover {
        color: rgba(255,255,255,.2);
      }
    }

  }

  @media screen and (min-width: 768px) {
    display: inline;
  }
}



