
// primary color
$primary: #ffffff;
// secondary color
$linkColor: #b5aa50;

// Font families
$boldopensans: 'Source Sans Pro Bold', Helvetica, sans-serif;
$opensans: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$gochi: 'Gochi Hand', Arial, Helvetica, sans-serif;

// Laptop width
$laptop: 1290px;
$tablet: 768px;

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .page-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;

    .page-nav {
      height: 100px;
      margin: 0;
    }
  }
}

.title {
  order: 5;
  width: 100%;

  h3 {
    text-align: center;
    margin: auto;
    font-weight: 900;
    color: #000;
    font-family: $gochi;
    font-size: 24px;
  }

  @media screen and (min-width: $tablet) {
    width: auto;
    font-size: 34px;
  }
}

.next,
.previous {
  color: #000;
  text-decoration: none;
  font-family: $gochi;
  font-size: 44px;
  flex-shrink: 0;
  padding: 0px 18px;

  span {
    color: #000;
    font-family: $opensans;
    font-size: 16px;
  }

  &:hover {
    color: #fff;
    background-color: $linkColor;

    span {
      color: #fff;
    }
  }

  @media screen and (min-width: $laptop) {
    font-size: 24px;
    padding: 10px 20px;

    span {
      font-size: 16px;
    }
  }
}

.desktop-only {
  display: none;

  @media screen and (min-width: $laptop) {
    display: inline;
  }
}

.next {
  order: 4;
  text-align: right;

  @media screen and (min-width: $tablet) {
    order: 6;
  }
}

.previous {
  order: 3;
}

.invisible {
  background-color: rgba(0,0,0,0);
  visibility: hidden;
}
