$primary: #2b1f5a;

button {
  border: none;

  &:active, &:focus {
    outline: none;
  }
}

.tab-list {
  .tab-item {
    display: inline-block;
    cursor: pointer;
    color: $primary;

    &.selected {
      background-color: rgba($primary, .1);
      color: #000000;
    }
  }
}